body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book-entry {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  color: grey;
}

.close {
  cursor: pointer;
  color: black;
  margin-left: 5px;
}
